*, *::before, *::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    background-color: aqua;
}

.calculator-grid {
    display: grid;
    justify-content: center;
    align-content: center;
    height: 100vh;
    grid-template-columns: repeat(4, 100px);
    grid-template-rows: minmax(120px, auto) repeat (5, 100px);
    color: yellowgreen;
    border: 3rem solid white;
}

.calculator-grid > button {
    cursor: pointer;
    font-size: 2rem;
    border: 1px solid white;
    outline: none;
    background: greenyellow;
    padding: 2rem;

}

.calculator-grid > button:hover {
background-color: turquoise;
}

.output{
    grid-column: span 3;
    
}

.one {
    grid-column: 1/4;
    grid-column: 1;
    grid-row: 1;
}