
body {
    margin: 19%;
    padding: 0;
   
    background-color: aqua;
}

.calculator-grid {
    margin: 0;
    padding: 0;
    display: grid;
    justify-content: center;
    align-content: center;
    height: 100vh;
    grid-template-columns: repeat(4, 100px);
    grid-template-rows: minmax(120px, auto) repeat (5, 100px);
    background-color: yellowgreen;
    border: 3rem solid white;

   /*  display: flex;
    flex-wrap: wrap;
    min-height: 100vh ;
    justify-content: center;
    justify-content: center; */
}

.calculator-grid > button {
    
    cursor: pointer;
    font-size: 2rem;
    border: 1px solid white;
    outline: none;
    background: greenyellow;
    padding: 2rem;

}

.calculator-grid > button:hover {
background-color: turquoise;
}

.output{
    grid-column: span 3;
   
    
}

.one {
  
}

